<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Checkbox configuration</h2>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="displayList">Display to do list</mat-checkbox>
        </section>
    </mat-card-content>
    <mat-card-content *ngIf="displayList">
        <h2>Today's List:</h2>

        <mat-list role="list">
            <div *ngFor="let item of toDoList" [class.selected]="item === selectedItem" (click)="onSelect(item)">
                <hr>
                <mat-checkbox (change)="checkBoxChange(item.isChecked)">
                    <mat-list-item role="listitem">{{ item.task }}</mat-list-item>
                </mat-checkbox>
            </div>
        </mat-list>
        <!-- <button mat-button *ngIf="isChecked">Clear all selected</button> -->
    </mat-card-content>
</mat-card>

<app-item-detail [item]="selectedItem" (done)="onDone($event)"></app-item-detail>